
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: disc ;
}


.box1 .models  .num{
    background: url(../img/photos/hexa.PNG) no-repeat 0 0 ;
    width: 123px;
    font-size: 37px;
    line-height: 79px;
    color: #fff;
    text-align: center;
    display: inline-block;
    position: relative;
}
